html{
  box-sizing: border-box;
}

body{
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  padding: 1.875rem 3.75rem;
  font-family: 'Inter', sans-serif;
}

/* Nav Bar Properties */
.nav-bar-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-name{
  font-size: 20px;
  font-family: 'Prata', serif;
}

.nav-bar-tabs{
  display: flex;
  flex-direction: row;
}

a{
  text-decoration: none;
  margin-right: 35px;
  color: hsl(0, 0%, 50%);
}

a:last-child{
  margin-right: 0;
}


.nav-bar-button{
  padding: 12px 25px;
  text-decoration: none;
  background-color: hsl(54, 100%, 55%);
  border-radius: 3px;
  font-size: 15px;
  font-family: 'Prata', serif;
  font-weight: 500;
  cursor: pointer;
}

a:hover{
  color: white;
}

button:hover{
  opacity: 75%;
}